<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/homestyle.css' %}" />
<html>
<head>
  <title>SelfishGiant</title>
</head>
<body>
  <ul class="siteInfo">
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <div class="signboard"><a href="#home">SelfishGiant</a></div>

</ul>
<div class="sidenav">
  <a href="#">OperatingSystem</a>
    <ul class="innerList">
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  <a href="#">ComputerStructure</a>
  <a href="#">DataBase</a>
  <a href="#">C</a>
  <a href="#">C++</a>
  <a href="#">Java</a>
  <a href="#">Luby</a>
  <a href="#">javascript</a>
  <a href="#">Python</a>
  <a href="#">DataStructure</a>
  <a href="#">Html + Css</a>
  <a href="#">Git</a>
  <a href="#">DeepLearning</a>
  <a href="#">Android</a>
</div>

<div class="main">
  <h2>Sidenav Example</h2>
  <p>This sidenav is always shown.dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
</div>

</body>
</html>
