<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/home.css' %}" />
<html>
<head>
  <title>SelfishGiant</title>
</head>
<body>

  <ul class="siteInfo">
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
<div class="signboard"><a href="#home">SelfishGiant</a></div>
<div class="grid-container">
  {% for content in latest_question_list %}
  <div class="grid-item">
        {{ content.title }}
  <ul>
    <li>a
    </li>
    <li>a
    </li>
    <li>a
    </li>
    <li>a
    </li>
    <li>a
    </li>
  </ul>
  </div>
  {% endfor %}
</div>
</body>
</html>
